.post {
    border: 1px solid green;
    color: green;
    font-size: 15px;
    padding: 5px auto;
    width: 80vw;
    margin: 20px 0;
    padding: 10px 0;
    display: flex;
}

.title {
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.body {
    padding-left: 20px;
}

.info {
    width: 90%;
}

.showComments {
    width: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    cursor: pointer;
    border: 1px solid green;
}