.input {
    box-sizing: border-box;
    width: 30vw;
    height: 10vh;
    border: 2px solid green;
    color: green;
    text-align: center;
    font-size: 20px;
}

.search {
    display: flex;
    justify-content: center;
}